.title {
    font-weight: bold;
    font-size: 20px;
}

.employeeTitle {
    margin-bottom: 10px;
    margin: 10px;
}

.employeeCard {
    margin-bottom: 10px;
    margin: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    border: none;
    margin: auto;
    text-align: center;
}
  
th {
    color: #00022e;
}
  
th,
td {
    width: 150px;
    text-align: center;
    /* border: 1px solid black; */
    padding: 5px;
}
