doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body 
        form(action="/employeeLogin" method='POST')
            label(for='empId') Enter EMP ID 
            input(type='text' name='empId')
            br
            br
            label(for='password') Enter password 
            input(type='password' name='password') 
            input(type='submit' value='Login')